.header {
  text-align: center;
  font-size: 100px;
  color: crimson;
  margin-top: 50px;
}
body {
  background-color: lightpink;
}
.image {
  margin-left: 50%;
  transform: translate(-50%);
  background-color: aqua;
  padding: 30px;
  border-radius: 25px;
}
.subheader {
  text-align: center;
  font-size: 35px;
}
.link {
  text-align: center;
  display: block;
}
